<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate' )>
        <meta(http-equiv='Pragma', content='no-cache' )>
            <meta(http-equiv='Expires', content='-1' )>

                <!-- Title Page-->
                <title>Inbox</title>

                <!-- Fontfaces CSS-->
                <link href="css/font-face.css" rel="stylesheet" media="all">
                <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
                <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
                <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

                <!-- Bootstrap CSS-->
                <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

                <!-- Vendor CSS-->
                <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
                <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
                    media="all">
                <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
                <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
                <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
                <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
                <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

                <!-- Main CSS-->
                <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href=" ">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="/employee">
                                <i class="fas fa-users"></i>Employee</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Notes</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>

                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="/employee">
                                <i class="fas fa-users"></i>Employee</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Notes</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">

                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="content">
                                <a class="js-acc-btn float-right" href="#">john doe</a>
                            </div>
                            <div class="account-dropdown js-dropdown">

                                <div class="account-dropdown__footer">
                                    <a href="/logout" class="btn btn-danger"><i class="zmdi zmdi-power"></i>Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="col-xl-9 col-lg-8  col-md-12">

                        <div class="accordion add-employee" id="accordion-details">
                            <div class="card shadow-sm grow ctm-border-radius p-5">
                                <div class="card-body p-0">
                                    <div id="basic-one" class="collapse show ctm-padding" aria-labelledby="basic1"
                                        data-parent="#accordion-details">
                                        <form id="add-employee" method="POST" action="">
                                            <div class="card-header mb-2" id="basic1">
                                                <h4 class="cursor-pointer mb-0">
                                                    Basic Details
                                                </h4>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control" name="fname"
                                                        placeholder="First Name">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control" name="lname"
                                                        placeholder="Last Name">
                                                </div>
                                                </br>
                                                <div class="col-md-6 form-group">
                                                    <input type="email" class="form-control" name="email"
                                                        placeholder="Email">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="text" class="form-control" name="fathername"
                                                        placeholder="Father Name">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <input type="number" class="form-control" name="no"
                                                        placeholder="Father/Mother-contectno">
                                                </div>
                                                </br>
                                                <div class="col-md-6 form-group">
                                                    <input type="number" class="form-control" name="pno"
                                                        placeholder="Personal-contectno">
                                                </div>
                                            </div>
                                            <div class="card shadow-sm grow ctm-border-radius p-5">
                                                <div class="card-header" id="headingTwo">
                                                    <h4 class="cursor-pointer mb-2">
                                                        <a class="coll-arrow d-block text-dark"
                                                            href="javascript:void(0)" data-toggle="collapse"
                                                            data-target="#employee-det">
                                                            Employee Address
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="card-body p-0">
                                                    <div id="employee-det" class="collapse show ctm-padding"
                                                        aria-labelledby="headingTwo" data-parent="#accordion-details">
                                                        <div class="row">
                                                            <div class="col-md-12 form-group">
                                                                <div class="cal-icon mt-2">
                                                                    <input class="form-control" type="text"
                                                                        name="address" placeholder="Permanent address">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-6 form-group">
                                                                <label for="10th">Team</label>
                                                                <select name="team" class="form-control">
                                                                   
                                                                    <option value="Design">Design</option>
                                                                    <option value="IOS">IOS</option>
                                                                    <option value="Android">Android</option>
                                                                    <option value="Testing">Testing</option>
                                                                    <option value="Bidding">Bidding</option>
                                                                    <option value="Node">Node</option>
                                                                    <option value="php">php</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label for="10th">Designation</label>
                                                                <select name="designation" class="form-control">
                                                                   
                                                                    <option value="Manager">Manager</option>
                                                                    <option value="Front End Developer">Front End Developer</option>
                                                                    <option value="Back End Developer">Back End Developer</option>
                                                                    <option value="Bidder">Bidder</option>
                                                                    <option value="Intern">Intern</option>

                                                                </select>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow-sm grow ctm-border-radius p-5">
                                                <div class="card-header mb-2" id="basic1">
                                                    <h4 class="cursor-pointer mb-0">
                                                        <a class=" coll-arrow d-block text-dark"
                                                            href="javascript:void(0)" data-toggle="collapse"
                                                            data-target="#basic-one" aria-expanded="true">
                                                            Educational Details
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="card-body p-0">
                                                    <div id="basic-one" class="collapse show ctm-padding"
                                                        aria-labelledby="basic1" data-parent="#accordion-details">
                                                        <div class="row">
                                                            <div class="col-md-6 form-group">
                                                                <label for="10th">10th certificate</label>
                                                                <input type="file" class="form-control" name="matric">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label for="12th">12th certificate</label>
                                                                <input type="file" class="form-control" name="plustwo">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label for="Graduation">Graduation
                                                                    certificate</label>
                                                                <input type="file" class="form-control"
                                                                    name="graduation">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label for="Post-Graduation">Post-Graduation
                                                                    certificate</label>
                                                                <input type="file" class="form-control"
                                                                    name="pgraduation">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label for="Adhaar"> Upload Adhaar</label>
                                                                <input type="file" class="form-control" name="adhaar">
                                                            </div>
                                                            <div class="col-md-6 form-group">
                                                                <label for="pic">Upload picture</label>
                                                                <input type="file" class="form-control" name="pic">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card shadow-sm grow ctm-border-radius p-5">
                                                <div class="card-header mb-2" id="basic1">
                                                    <h4 class="cursor-pointer mb-0">
                                                        <a class=" coll-arrow d-block text-dark"
                                                            href="javascript:void(0)" data-toggle="collapse"
                                                            data-target="#basic-one" aria-expanded="true">
                                                            Educational Details
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="card-body p-0">
                                                    <div id="basic-one" class="collapse show ctm-padding"
                                                        aria-labelledby="basic1" data-parent="#accordion-details">
                                                        <div class="row">
                                                            <div class="col-md-12 form-group">
                                                                <input type="number" class="form-control" name="bankacc"
                                                                    placeholder="Bank Account No">
                                                            </div>
                                                            <div class="col-md-12 form-group">
                                                                <label for="pan card">Pan card</label>
                                                                <input type="file" class="form-control" name="pan"
                                                                    placeholder="PAN Card">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="submit-section text-center btn-add">
                                                        <button
                                                            class="btn btn-theme text-white ctm-border-radius button-1 bg-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>
    <script src="js/employee.js"></script>

</body>

</html>